h1, h2 {
    text-align: center;
}
#p1Zone {
    background-color: #dc3545;
}

#p2Zone {
    background-color: #007bff;
}

.btnContainer {
    text-align: center;
}

.joinBtn {
    display: inline-block;
}
